.logo {
  padding: 4rem;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include respond-to("large") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.hero div img {
  max-width: 100%;
}

.hero .hero-right {
  @include respond-to("large") {
    grid-column: 3/4;
  }
}

.hero-content {
  position: relative;
  justify-self: center;
  grid-column: span 2;
  @include respond-to("large") {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  h1 {
    margin: 4rem 0;
  }

  p {
    min-width: 330px;
    max-width: 460px;
    margin-bottom: 4rem;

    @include respond-to("large") {
      order: 2;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: $font-weight-black;
    margin: auto;

    @include respond-to("large") {
      flex-direction: row;
    }

    a {
      border-radius: 29px;
      padding: 2rem;
      color: white;
      display: inline-block;
      font-size: $font-size-normal;

      span {
        color: hsl(192, 90%, 77%);
      }
    }
    a.button.green-button {
      margin-bottom: 2rem;

      @include respond-to("large") {
        margin-bottom: 0;
        margin-right: 2rem;
      }
    }
  }
}

.hero-content .buttons a {
  margin-right: 3rem;
}
// Line

.center-line {
  height: 100px;
  margin: 150px 0;
  position: relative;
  height: 150px;
  width: 1px;
  background-color: rgba(135, 135, 157, 0.25);
  left: 50%;
  transform: translateX(-50%);

  &::before {
    content: "01";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-black;
    font-size: 16px;
    line-height: 22px;
    color: $heading-color;
    position: fixed;
    text-align: center;
    right: -51px;
    bottom: -76px;
    width: 50px;
    height: 50px;
    border: 1px rgba(135, 135, 157, 0.25) solid;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

// Pictures
.pictures {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 35px;
  margin-bottom: 64px;

  @include respond-to("medium") {
    margin-bottom: 48px;
  }
  @include respond-to("large") {
    margin-bottom: 80px;
  }

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 18px;
  }
}

// Info Section

.info {
  .info-blue-p {
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4d96a9;
    margin-bottom: 24px;
  }

  .info-heading {
    margin-bottom: 32px;
  }

  .info-p {
    margin-bottom: 24px;
    max-width: 540px;
    margin: auto;

    @include respond-to("large") {
      font-size: 18px;
    }
  }
}

// Line 2

.center-line2 {
  height: 100px;
  margin: 150px 0 25px 0;
  position: relative;
  height: 150px;
  width: 1px;
  background-color: rgba(135, 135, 157, 0.25);
  left: 50%;
  transform: translateX(-50%);

  z-index: 2;

  &::before {
    content: "02";
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-black;
    color: $heading-color;
    position: absolute;
    right: -51px;
    bottom: -76px;
    width: 50px;
    height: 50px;
    border: 1px rgba(135, 135, 157, 0.25) solid;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }
}

// footer
.footer {
  background: url("../img/mobile/image-footer.jpg") no-repeat center
    center/cover;
  position: relative;
  padding: 90px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d96a9;
    opacity: 0.7;
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;

    @include respond-to("large") {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .footer-h2 {
    margin-bottom: 24px;
    z-index: 9999;
  }
  .footer-p {
    margin-bottom: 32px;
    color: #fafafa;
  }
  .footer-button {
    border-radius: 29px;
    padding: 2rem;
    color: white;
    display: inline-block;
    font-size: $font-size-normal;
    z-index: 999;
    max-width: 300px;
    width: max-content;
    height: 65px;
    margin: auto;

    span {
      color: hsl(192, 90%, 77%);
    }
  }
}
